body{
	background-color: #ecf0f1;
}
/* ---------- Header CSS ---------- */
header{
	background-color: #252525;
	width: 100%;
	position: relative;
	padding: 10px 5px;
    z-index: 100;
}
header h1{
	
}
header h1 a{
	font-size: 30px;
	color: #3498db;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
header h1 a span.alt{
	color: #ecf0f1;
}
header .menu_button{
	position: absolute;
	right: 0px;
	top: 0px;
	display: inline-block;
	padding: 10px 12px;
	border-left: 1px solid #353535;
}
header .menu_button .fa{
	font-size: 30px;
	color: #ecf0f1;
}

/* ---------- Footer CSS ---------- */
footer{
	background-color: #7f8c8d;
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 100;
}

/* ---------- Nav CSS ---------- */
nav{
	width: 100%;
	height: 100%;
	padding: 80px 10px;
	z-index: -10;
	position: relative;
    -webkit-transition: top .4s;
    transition: top .4s;
    background-color: #3498db;
    position: absolute;
    top: -100%;
    z-index: 10;
}
nav.open{
	top: 0px;	
}
nav .container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}
nav .menu_item{
	display: inline-block;
	text-align: center;
	flex: 1 1;
}
nav .menu_item a>.fa{
	display: inline-block;
	color: #ecf0f1;
	font-size: 40px;
	padding-bottom: 5px;
	margin: 0 auto;
}
nav .menu_item a>span{
	display: inline-block;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #ecf0f1;
}

section.time{
	background-color: #34495e;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	color: #ecf0f1;
}

/* ---------- Welcome Div CSS ---------- */
.welcome{
	display: none;

	background-color: #95a5a6;
	width: 100%;
	padding: 10px;
}
.welcome h1{
	color: #252525;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}
.welcome h2{
	color: #444;
	font-family: 'Roboto', sans-serif;
}
.welcome p{
	color: #252525;
	font-family: 'Roboto', sans-serif;
}

/* ---------- Match Section CSS ----------*/
.match{
	width: 100%;
	display: inline-block;
	color: #252525;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
div.match_spacer{
	height: 50px;
}
.match .container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	position: relative;
	border-bottom: 1px rgba(52,152,219,.3) dashed;
}
div.match .container{
	border-bottom: 0 transparent solid;
}
.match .score_container{
	display: inline-block;
	text-align: center;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 50%;
	background-size: auto 85%;
	color: #ecf0f1;
	padding: 30px 10px;
}
.match .score_container.home{
	margin-right: 10px;
}
.match .score_container.away{
	margin-left: 10px;
}
.match .score_container.leicester{
	background-image: url('../img/leicester-color.png');
}
.match .score_container.arsenal{
	background-image: url('../img/arsenal-color.png');
}
.match .score_container.liverpool{
	background-image: url('../img/liverpool-color.png');
}
.match .score_container.tottenham{
	background-image: url('../img/tottenham-color.png');
}
.match .score_container.chelsea{
	background-image: url('../img/chelsea-color.png');
}
.match .score_container.hull-city{
	background-image: url('../img/hull-color.png');
}
.match .score_container.aston-villa{
	background-image: url('../img/aston-villa-color.png');
}
.match .score_container.stoke-city{
	background-image: url('../img/stoke-color.png');
}
.match .score_container.qpr{
	background-image: url('../img/qpr-color.png');
}
.match .score_container.manchester-united{
	background-image: url('../img/manchester-united-color.png');
}
.match .score_container .score{
	font-size: 40px;
	font-weight: 700;
	padding-bottom: 5px;
	color: #252525;
}
.match .score_container .team{
	text-transform: uppercase;
	color: #252525;
}
.match .match_data_container{
	display: inline-block;
}
.match .match_data_container .minute{
	font-size: 24px;
	color: #252525;
	font-weight: 700;
	background-color: #ecf0f1;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	position: absolute;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin-top: -25px;
	margin-left: -25px;
}


/* ---------- Match Page CSS ----------*/

/* ---------- Live Score CSS ---------- */

.page_header{
	background-color: #34495e;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	color: #ecf0f1;
}

/* ---------- Match Events CSS ---------- */
.match_events{
	width: 100%;
}
.match_events h5{
	background-color: #34495e;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	color: #ecf0f1;
	margin-bottom: 5px;
}
.match_event_container{
	width: 100%;
	padding: 5px 10px;
}
.match_event_container .event_player{
	width: 45%;
	display: inline-block;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: top;
}
.match_event_container .event_minute{
	width: 10%;
	display: inline-block;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	vertical-align: top;
}
.match_event_container .event_player .fa{
}
.match_event_container.home .event_minute{
	margin-right: 45%;
}
.match_event_container.away .event_minute{
	margin-left: 45%;
}
.match_event_container.home .event_player{
	text-align: right;
	padding-right: 20px;
}
.match_event_container.away .event_player{
	text-align: left;
	padding-left: 20px;
}
.match_event_container.home .event_player .fa{
	right: 0;
	top: 0;
	position: absolute;
}
.match_event_container.away .event_player .fa{
	left: 0;
	top: 0;
	position: absolute;
}
.match_event_container .fa.yellow{
	color: #f1c40f;
}

/* ---------- Comment Page CSS ----------- */
.commentary{
	width: 100%;
}
.commentary .comment_container{
	width: 100%;
	padding: 10px 10px;
}
.commentary .comment_container:nth-child(even){
	background-color: #e7e7e7
}
.commentary .comment_container .comment_minute{
	width: 10%;
	display: inline-block;
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
}
.commentary .comment_container .comment_text{
	width: 90%;
	display: inline-block;
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}